body{ 
    margin: 0;
    background-color: rgb(223, 251, 242);
}

.titulos{
    color: rgb(78, 108, 76);
    border: 1px solid black;
    margin-bottom: 6px;
    margin-top: 6px;
}
#miportafolio{
font-size: 75px;
padding-left: 10px;
}
#bio{
        font-size: 50px;
        padding-left: 25px;
        
          }


.parrafos{
color: rgb(6, 4, 4);
font-size: 40px;
font-weight: bold;
font-style:italic;
text-align: center;
border: 1px solid black;
margin-bottom: 15px;

}


#tituloaficiones{
font-size: 40px;
color: rgb(78, 108, 76);
padding-left: 10px;
}

.aficionesdescripcion{
    font-size: 25px;
    
}
#titulohabilidades{
    font-size: 40px;
    color: rgb(78, 108, 76);
    padding-left: 10px;
    }
    
    .habilidadesdescripcion{
        font-size: 25px;
    }

.imagenes{

    
}


#footer{

background-color: rgb(24, 21, 21);
width: 100%;
height: 100px;

margin-top: 20px;
}

#github{
    color: aliceblue;
    font-size: 25px;

    }
    #google{
        padding-left: 15px;
        color: aliceblue;
        font-size: 25px;
        
        }